<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.gdu.cash.restmapper.ChartRestMapper">
	<!-- 월별 지출 -->
	<select id="selectTotalOfMonthByYear" parameterType="int" resultType="java.util.Map">
		SELECT 
		YEAR(cashbook_date) year,
			nvl(sum(case when month(cashbook_date)=1 then cashbook_price END), 0) january,
			nvl(sum(case when month(cashbook_date)=2 then cashbook_price END), 0) february,
			nvl(sum(case when month(cashbook_date)=3 then cashbook_price END), 0) march,
			nvl(sum(case when month(cashbook_date)=4 then cashbook_price END), 0) april,
			nvl(sum(case when month(cashbook_date)=5 then cashbook_price END), 0) may,
			nvl(sum(case when month(cashbook_date)=6 then cashbook_price END), 0) june,
			nvl(sum(case when month(cashbook_date)=7 then cashbook_price END), 0) july,
			nvl(sum(case when month(cashbook_date)=8 then cashbook_price END), 0) august,
			nvl(sum(case when month(cashbook_date)=9 then cashbook_price END), 0) september,
			nvl(sum(case when month(cashbook_date)=10 then cashbook_price END), 0) october,
			nvl(sum(case when month(cashbook_date)=11 then cashbook_price END), 0) november,
			nvl(sum(case when month(cashbook_date)=12 then cashbook_price END), 0) december
		FROM cashbook
		WHERE YEAR(cashbook_date) = #{year}
		AND cashbook_kind = "지출"
	</select>
	<!-- 연도별 수입 / 지출 -->
	<select id="selectTotalOutAndInByYear" parameterType="int" resultType="java.util.Map">
		SELECT 
		YEAR(cashbook_date) '년', 
		nvl(SUM(case when cashbook_kind = '수입' then cashbook_price END), 0) '수입',
		nvl(SUM(case when cashbook_kind = '지출' then cashbook_price END), 0) '지출'
		FROM cashbook
		WHERE YEAR(cashbook_date) = #{year};
	</select>
	<!-- 월별 수입 -->
	<select id="selectTotalOfInOfMonthByYear" parameterType = "int" resultType="java.util.Map">
		SELECT 
		YEAR(cashbook_date) year,
			nvl(sum(case when month(cashbook_date)=1 then cashbook_price END), 0) january,
			nvl(sum(case when month(cashbook_date)=2 then cashbook_price END), 0) february,
			nvl(sum(case when month(cashbook_date)=3 then cashbook_price END), 0) march,
			nvl(sum(case when month(cashbook_date)=4 then cashbook_price END), 0) april,
			nvl(sum(case when month(cashbook_date)=5 then cashbook_price END), 0) may,
			nvl(sum(case when month(cashbook_date)=6 then cashbook_price END), 0) june,
			nvl(sum(case when month(cashbook_date)=7 then cashbook_price END), 0) july,
			nvl(sum(case when month(cashbook_date)=8 then cashbook_price END), 0) august,
			nvl(sum(case when month(cashbook_date)=9 then cashbook_price END), 0) september,
			nvl(sum(case when month(cashbook_date)=10 then cashbook_price END), 0) october,
			nvl(sum(case when month(cashbook_date)=11 then cashbook_price END), 0) november,
			nvl(sum(case when month(cashbook_date)=12 then cashbook_price END), 0) december
		FROM cashbook
		WHERE YEAR(cashbook_date) = #{year}
		AND cashbook_kind = "수입"
	</select>
</mapper>