<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.gdu.cash.mapper.NewNoticeMapper">
	<select id="selectLatestNoiceList" resultType="kr.co.gdu.cash.vo.Notice">
		SELECT 
			notice_id noticeId,
			notice_title noticeTitle,
			notice_date noticeDate 
		FROM notice
		ORDER BY notice_date DESC
		LIMIT 0, 5
	</select>
	
	<!-- 공지사항 목록 페이지 -->
	<select id="selectNoticeListByPage" parameterType="java.util.Map" resultType="kr.co.gdu.cash.vo.Notice">
		SELECT
			notice_id noticeId,
			notice_title noticeTitle,
			notice_date noticeDate
		FROM notice
		ORDER BY notice_date DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 공지사항 추가 -->
	<insert id="addNotice" parameterType="kr.co.gdu.cash.vo.Notice">
		INSERT INTO notice(
			notice_title,
			notice_content,
			notice_date
		) VALUES(
			#{noticeTitle},
			#{noticeContent},
			NOW()
		)
	</insert>
	
	<resultMap type="kr.co.gdu.cash.vo.Notice" id="resultNoticeOne">
		<result property="noticeId" column="notice_id"/>
		<result property="noticeTitle" column="notice_title"/>
		<result property="noticeContent" column="notice_content"/>
		<result property="noticeDate" column="notice_date"/>
	</resultMap>
	
	<!-- 공지사항 상세보기 -->
	<select id="selectNoticeOne" parameterType="int" resultMap="resultNoticeOne">
		SELECT
			notice_id noticeId,
			notice_title noticeTitle,
			notice_content noticeContent,
			notice_date noticeDate
		FROM notice
		WHERE notice_id = #{noticeId}
	</select>
	
	<!-- 공지사항 수정 -->
	<update id="modifyNotice" parameterType="kr.co.gdu.cash.vo.Notice">
		UPDATE notice
		SET
			notice_title = #{noticeTitle},
			notice_content = #{noticeContent},
			notice_date = NOW()
		WHERE notice_id = #{noticeId}
	</update>
	
	<!-- 공지사항 삭제 -->
	<delete id="removeNotice" parameterType="int">
		DELETE
		FROM notice
		WHERE notice_id = #{noticeId}
	</delete>
	
	<select id="selectCountList" resultType="int">
		SELECT
			COUNT(*) count
		FROM notice
	</select>
</mapper>